 <!doctype html>
	<html>
		<head>
			<title>Login</title>
			<meta charset="utf-8">
			<link rel="stylesheet" href="../css/template.css">
			<link rel="stylesheet" href="../css/login_style.css">
			<link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
			<link rel="stylesheet" href="../static/font_awesome/css/font-awesome.min.css">
		</head>
		<body>
			
				<div class="body_wrapper">
					
					<div id="form-wrapper">
						<form id="sign-up">
							<span id="form-heading">Sign up Form</span>
							<div class="input_wrapper">
								<input type="text" placeholder="Enter a user name" id="sign-up-name" /><br>
								<input type="password" placeholder="Enter the password" id="sign-up-password" /><br>
								<input type="password" placeholder="Confirm password" id="sign-up-confirm-password" /><br>
								<input type="email" placeholder="Enter your email id" id="sign-up-email" /><br>
								<input type="submit" id="sign-button" value="Sign up"><br>
								<span id="already-have-account">Already have an account??</span>
								<span id="have-sign-in">Sign in</span>	
							</div>
						
						</form>
						
						<form id="sign-in">
							<span id="form-heading">Sign in Form</span>
							<span class="icon-undo" id="go-back"></span>

							<div class="input_wrapper">
								<input type="text" placeholder="Enter the user name" id="sign-in-user-name"/><br>
								<input type="password" placeholder="Enter the password" id="sign-in-password" /><br>
								<input type="submit" id="sign-button" value="Sing in"><br>								
							</div>
							
						</form>
					
					</div>


				</div>


			<script src="../static/jquery.js"></script>
			<script src="../js/login.js"></script>
			<script src="../static/toast.js"></script>	



		</body>
	</html>